QtFramework/QtFramework.pro.user
*.obj
build-QtFramework-Desktop_Qt_6_2_3_MSVC2019_64bit-Debug/debug
build-QtFramework-Desktop_Qt_6_2_3_MSVC2019_64bit-Debug/Makefile.Debug
build-QtFramework-Desktop_Qt_6_2_3_MSVC2019_64bit-Debug/Makefile.Release
